services:
  api:
    image: api
    container_name: api
    build: .
    command: ["/srv/api"]
    environment:
      - DATABASE_URL=postgres://admin:password@postgres:5432/main
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    restart: always

  postgres:
    image: postgres:16-bookworm
    container_name: postgres
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=main
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:
