[package]
name = "primitives"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }

[features]
default = []

[dependencies]
strum = { workspace = true }
uniffi = { workspace = true }